/* 公共样式   */
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}


.body_bg {
  background-color: #222d32;
}
.panel .panel-title {
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  text-align: center;
}
.mt_150 {
  margin-top: 150px;
}

/* 主页  */
/* 左侧侧边栏模块  */
.lt_aside {
  width: 180px;
  height: 100%;
  background-color: #222d32;
  position: fixed;
  top: 0;
  left: 0;
}
.lt_aside .brand {
  width: 180px;
  height: 50px;
  line-height: 50px;
  background-color: #367fa9;
  text-align: center;
  font-size: 24px;
}
.lt_aside .brand a {
  color: #fff;
}
.lt_aside .user {
  padding-top: 30px;
  height: 180px;
}
.lt_aside .user img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}
.lt_aside .user p {
  color: #fff;
  font-size: 18px;
  text-align: center;
  height: 40px;
  line-height: 40px;
  margin: 0;
  margin-bottom: 10px; 
}